@model HMS6.Models.MedicalEquipment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div class="alert alert-dismissible alert-primary">
    <h4>MedicalEquipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Equipment Id :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentId)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Equipment Name :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentName)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Departement :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dep.DepartementName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.EquipmentId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
