@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="alert alert-dismissible alert-primary">
<h1>@ViewData["Title"]</h1>

<p>Privacy is of utmost importance in any healthcare setting, and the Privacy Policy for a Hospital Management System outlines the commitment of the system to safeguarding sensitive information. This policy is designed to inform patients, staff, and any other stakeholders about the collection, use, and protection of personal and medical data within the hospital management system. The policy typically covers aspects such as the types of information collected (e.g., patient records, staff details), the purpose of data collection (e.g., for medical treatment, billing, and administrative purposes), and the measures taken to ensure data security and confidentiality. It may also detail how patient consent is obtained, how data is shared with authorized parties (e.g., healthcare professionals, insurance providers), and the procedures in place for handling data breaches or privacy incidents. Overall, the Privacy Policy serves as a transparent and trustworthy guide to the hospital management system's practices in maintaining the privacy and security of sensitive information..</p>

</div>